<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main5.css">

    <title>Document</title>
</head>
<body>
    
    <div class="container" > 
        <nav class="nav-bar">
            <img src="../logo.png" id="logo" alt="">
            <a href="/addUser">Home</a>
            <a href="/addUser">All Users</a>
            <a href="#">About Us</a>
            <div class="profile">
                <img src="#" id="prof-img" alt="">
                <p>abdo</p>
            </div>            
        </nav>
    </div>







    <div class="added-blogs">
        <h1>Sorted Users by Age  </h1>
        <div class="sort">
            <a href="/addUser"> Return </a>
        </div>
        
        <div class="card">  
            <%  allUsers.forEach(u => { %>
                <div  id="card-<%=u._id %>" class="blog-content">
                    <div class="img">
                        <img src="<%=u.image %>" alt="" id="user-img">
                    </div>
                    <div class="headers">  
                        <h3>Name: <%=u.name %></h3>
                        <h3>Email: <%=u.email %></h3>
                        <h3>Age: <%=u.age %></h3>
                        <h3>Salary: <%=u.salary %></h3>
                                               
                    </div>
                    <div class="cta">
                        <a href="/editUser?id=<%= u._id %>" id="editUser">Edit User</a>
                        <!-- <a href="#" id="editUser"> Edit User</a> -->
                        <a href="#" class="delete-user" id="deleteUser"  data-userId="<%= u._id %>">Delete User</a>
                        <a href="#" class="send-info" id="sendInfo"  data-userId="<%= u._id %>">Send Info</a>
                    </div>                     
                </div>
            <% }) %>
        </div>
    </div>







    <footer class="foot">
        <img src="../logo.png" alt="">

        <div class="about-us">
            <p>Travler is your ultimate online destination for all things travel. Founded in 2016 by a group of passionate globetrotters, this website has since become a trusted resource for wanderers, adventurers, and travel enthusiasts worldwide.
            </p>
        </div>

        <div class="links">
            <h3>Quick Links</h3>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & conditions </a>
            <a href="#">Services </a>

        </div>
    </footer>



</body>
</html>
